# Validation and Verification

## Introduction

Validation and verification as conformity assessment are understood to be a confirmation of reliability of information declared in claims. Other terms in use for the object of assessment by validation and verification are “statement”, “declaration”, “assertion”, “prediction” or “report”.

**Validation** and **Verification** are distinguished according to the timeline of the assessed claims:

* **Validation** applies to claims regarding an intended future use or projected outcome (confirmation of plausibility)
* **Verification** applies to claims regarding events that have already occurred or results that have already been obtained (confirmation of truthfulness)

As with any conformity assessment process, validation and verification include a decision on the confirmation of the claim. The decision as to whether (or not) the claim conforms with the specified requirements is then issued by the validation/verification body as the validation/verification statement. The specified requirements can be general or detailed, e.g. the claim being free from material misstatements. The applicable programme can define additional steps within the validation/verification process.

Validation/Verification statements can be defined as statements of confirmation and are intended to match elements of the conformity assessment system and be used as inputs into other conformity assessment activities.
