# Validation and Verification

## Overview

In accordance with [ISO/IEC 17029:2019 Conformity Assessment - General principles and requirements for validation and verification bodies](https://www.iso.org/standard/29352.html)the Digital Trust Certification Program may be applied for claims regarding to the intended future use (validation) or currrently in place(verification).

Validation and verification as conformity assessment are understood to be a confirmation of reliability of information declared in claims. Validation is applied to claims regarding an intended future use or projected outcome, while verification is applied to claims regarding events that have already occurred or results that have already been obtained. 

Both activities are distinguished according to the timeline of the assessed claim. Validation is applied to claims regarding an intended future use or projected outcome (confirmation of plausibility), while verification is applied to claims regarding events that have already occurred or results that have already been obtained (confirmation of truthfulness).

Assurance is provided by validation/verification and gives confidence to stakeholders and parties interested in the claim. The programme can define levels of assurance, e.g. a reasonable or limited level

validation and verification as conformity assessment sheme includes a formal decision on the confirmation of the claim. This decision as to whether (or not) the claim conforms with the initially specified requirements is then issued by the validation/verification body as the validation/verification statement. The specified requirements can be general or detailed, e.g. the claim being free from material misstatements.

* **claim** information declared by the client
* **validation** confirmation of a claim, through the provision of objective evidence, that the requirements for a
specific intended future use or application have been fulfilled.
* **verification** confirmation of a claim, through the provision of objective evidence, that specified requirements
have been fulfilled